@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

.montserrat {
    font-family: "Montserrat";
}

.beige {
    background-color: #fdf0d5;
}
.text-beige {
    color: #fdf0d5;
}
.text-blue {
    color: #003049;
}
.blue {
    background-color: #003049;
}
.text-sky {
    color: #669bbc;
}
.sky {
    background-color: #669bbc;
}
